<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  
</div>
<div style="text-align: right"><a [routerLink]="'/login'">Login</a></div>
<div style="text-align: center">
<h2>Game Result</h2>
<p>Game {{ name }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Time {{ time }}</p>
<p>Old Result &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; New Result</p>
<p>{{ value }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{ value }}</p>
</div>
<table>
  <thead>
    <tr>
      <th>{{thead}}</th>
    </tr>
    </thead>
  <tbody>
    <tr>
      <td>{{tbody}}</td>
    </tr>
  </tbody>
</table>
<router-outlet></router-outlet>
